main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(../images/capa1.jpg);
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 28px;
    width: 100%;
    max-width: 1400px;
    padding: 30px;
    margin-bottom: 50px;
    border-radius: 8px;
    border: 5px solid rgba(0, 0, 0, 0.6);
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 14px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.card {
    aspect-ratio: 3/4;
    width: 100%;
    border-radius: 8px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    background-color: #ccc;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 5px solid rgb(192, 4, 4);
    border-radius: 8px;
    transition: all 500ms ease;
}

.front {
    transform: rotateY(180deg);
}

.back {
    background-image: url(../images/horadeaventura.jpg);
    backface-visibility: hidden;
}

.reveal-card {
    transform: rotateY(180deg);
}

.disabled-card {
    filter: saturate(0);
    opacity: 0.7;
}

.botoes {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 315px;
}

button {
    border-radius: 30px;
    cursor: pointer;
    padding: 15px;
    font-size: 20px;
    margin-top: 50px;
    background-color: #152a95;
    border: 3px solid #2f75e0;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
}

button:hover {
    background-color: #2a45b1;
}


@media (max-width: 480px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        width: 100%;
        max-width: 300px;
        gap: 8px;
    }
    
    header {
        padding: 10px;
        font-size: 18px;
        margin-bottom: 20px;
        border: 2px solid rgba(0, 0, 0, 0.6);
        width: 100%;
        max-width: 300px;
    }
    
    .face {
        border: 2px solid rgb(192, 4, 4);
    }
    
    button {
        padding: 10px;
        font-size: 12px;
        margin-top: 20px;
        border: 2px solid #2f75e0;
    }
    
    .botoes {
        width: 100%;
        max-width: 208px;
    }
    
    main {
        padding: 20px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    main {
        padding: 20px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        width: 100%;
        max-width: 550px;
        gap: 8px;
    }

    header {
        width: 100%;
        max-width: 550px;
        padding: 15px;
        font-size: 24px;
        margin-bottom: 35px;
        border: 2px solid rgba(0, 0, 0, 0.6);
    }

    .face {
        border: 2px solid rgb(192, 4, 4);
    }

    button {
        margin-top: 35px;
        font-size: 16px;
        padding: 13px;
        border: 2px solid #2f75e0;
    }

    .botoes {
        width: 100%;
        max-width: 260px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    main {
        padding: 20px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        width: 100%;
        max-width: 650px;
    }

    header {
        width: 100%;
        max-width: 650px;
        padding: 15px;
        font-size: 24px;
        margin-bottom: 35px;
    }

    button {
        margin-top: 35px;
        font-size: 16px;
        padding: 13px;
    }

    .botoes {
        width: 100%;
        max-width: 270px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    main {
        padding: 20px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        width: 100%;
        max-width: 700px;
    }

    header {
        width: 100%;
        max-width: 700px;
        padding: 15px;
        font-size: 24px;
        margin-bottom: 35px;
    }

    button {
        margin-top: 35px;
        font-size: 17px;
        padding: 13px;
    }

    .botoes {
        width: 100%;
        max-width: 280px;
    }
}