.login__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.login__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
}

.login__header h1 {
    color: #2a3485;
    font-size: 2.2em;
    margin-bottom: 15px;
}

.login__header h2 {
    color: #392713;
    font-size: 1.7em;
    text-align: center;
}

.login__input {
    border: 3px solid #392713;
    border-radius: 8px;
    color: #392713;
    font-size: 1.5em;
    margin-bottom: 15px;
    max-width: 300px;
    outline: none;
    padding: 15px;
    width: 100%;
}

.login__button {
    background-color: #392713;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1.5em;
    max-width: 300px;
    padding: 15px;
    width: 100%;
    border: 3px solid #eeba49;
    font-weight: bold;
    letter-spacing: 2px;
}

.login__button:hover {
    background-color: #533a17;
}

.login__button:disabled {
    background-color: #c1e0db;
    color: #5d8b86;
    border: 3px solid #80b6b0;
    cursor: auto;
}

@media (max-width: 480px) {
    img {
        width: 330px;
    }

    .login__header {
        margin: 20px 20px 30px;
    }

    .login__header h1 {
        font-size: 1.6em;
    }
    
    .login__header h2 {
        font-size: 1.1em;
    }

    .login__input {
        font-size: 0.9em;
        max-width: 220px;
        padding: 8px;
        margin-bottom: 10px;
    }
    
    .login__button {
        font-size: 0.9em;
        max-width: 220px;
        padding: 8px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    img {
        width: 400px;
    }

    .login__header {
        margin: 30px 30px 50px;
    }

    .login__header h1 {
        font-size: 1.7em;
    }
    
    .login__header h2 {
        font-size: 1.2em;
    }

    .login__input {
        font-size: 1em;
        max-width: 240px;
        padding: 10px;
    }
    
    .login__button {
        font-size: 1em;
        max-width: 240px;
        padding: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .login__header h1 {
        font-size: 1.9em;
    }

    .login__header h2 {
        font-size: 1.4em;
    }

    .login__input {
        font-size: 1.2em;
        max-width: 270px;
        padding: 10px;
    }
    
    .login__button {
        font-size: 1.2em;
        max-width: 270px;
        padding: 10px;
    }
}